*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark:#404149;
    --color-brand:#F7654A;
    --color-white:#fff;
    --color-gray:#999;
    --color-bg-gray:#F7F7F7;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: var(--color-dark);
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url('/media/Rectangle.png');
    overflow: visible;
}

.about-us h1 {
    color: var(--color-white);
    text-align: center;
    font-size: 64px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-top: 192px;
    margin-bottom: 35px;
    max-width: 737px;
    
}

.about-us p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.experience{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--color-white);
    padding: 57px 130px;
    width: 1110px;
    height: 300px;
    text-align: center;

}

.experience p{
    color: var(--color-dark);
}

.experience .accent {
    color: var(--color-brand);
    font-size:72px;
    text-transform: uppercase;

}

.experience .year{
    font-size: 36px;

}

.experience .market {
    color: var(--color-gray);
    font-size: 18px;

}

.experience div {
    gap: 30px;
}

.projects{
    margin: 200px auto;
    width: 1110px;
}
.projects p{
color: var(--color-gray);
font-family: Open Sans;
font-size: 16px;
margin-top: 20px;
width: 350px;

}

h2 {
    margin-bottom: 60px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

}

h3 {
  font-size: 24px;
  text-transform: uppercase;  
}

.project-arena{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.line {
    background: var(--color-brand);
    width: 55px;
    height: 6px;
    margin-top: 45px;
    margin-bottom: 15px;

}

.request{
    background: var(--color-brand);
    margin-bottom: 150px;
   
}

.div-request{
    display: flex;
    justify-content: space-evenly;
    width: 1110px;

}

.div-request-text{
    margin-top: 30px;
    margin-bottom: 45px;
}
.request-title {
   color:var(--color-white);
   font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;

}

.request-text {
    color:var(--color-white);
    font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.48px; 
}

button{
    background-color: var(--color-white);
    width: 175px;
    height: 49px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin: 86px 74px;
    
}

.services {
    width: 1110px;
    text-align: center;
    /* margin-bottom: 150px; */
    margin: 150px auto;
    
}
.container-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 30px;
    /* margin: auto; */
    
    

}
.services-item {
    background: var(--color-bg-gray);
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.services-item p{
    font-size: 21px;
    width: 172px;
}
.services-item img {
   padding-bottom: 30px;
}

.servise2{
    width: 1110px;
    text-align: center;
    margin: auto;
    margin-bottom: 112px; 
}
.container-servises2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 6fr);
    grid-gap: 30px;
    justify-content: center;
    
}

.contacts{
    width: 1110px;
    text-align: center;    
    margin: 60px auto;

}

.contacts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 30px;
    justify-content: center;

}

.contacts-item img{
padding-bottom: 36px;
}
.conacts-gray{
    width: 255px;
    height: 29px;
    color: var(--color-gray); 
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.contacts-info{
    width: 255px; 
    font-size: 24px;
    text-align: center
}
.contacts-accent{
    color: var(--color-brand);
}


